.input-box {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 20px 5%;
  display: flex;

  input {
    flex: 10;
    height: 50px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    &:focus {
      outline: none;
    }
  }

  button {
    color: white;
    flex: 1;
    background-color: #3c7bff;
    min-height: 50px;
    border: none;
  }
}
