.post {
  -webkit-box-shadow: 0px 6px 15px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 15px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 15px -6px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  width: 90%;
  background-color: white;
  margin: 0 5% 20px 5%;

  .description {
    flex: 1;
    padding: 5px 20px;
    font-size: 15px;
  }

  i {
    width: 30px;

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
